.navbar-container{
    @apply flex desktop:py-[1.5rem] phone:py-[1rem]  desktop:px-[4rem] flex-row  items-center shadow-md  justify-between bg-white phone:px-[0.5rem] phone:w-[100vw]  desktop:w-[100vw] 
}

.navbar-section-items{
  @apply  flex desktop:flex-row phone:z-[100] w-[100%] desktop:gap-[6rem] flex-col phone:fixed desktop:static phone:justify-center 
}


.links-small{
    @apply flex desktop:flex-row gap-[3rem] text-[0.9rem]  font-medium   desktop:bg-transparent  desktop:items-center  desktop:px-[0rem]  phone:h-[100%] phone:flex-col
}

.isScrolled{
    @apply fixed bg-opacity-80
}

.navbar-item-contact{
    @apply desktop:bg-[#2893EA] py-[0.5rem] px-[1rem] rounded-md text-white font-normal hover:text-black hover:bg-[#2893EA] cursor-pointer  phone:w-[50%] desktop:w-[100%]  phone:bg-[] phone:text-[black] phone:items-center phone:justify-center flex phone:bg-[white]
}

.navbar-section-logo{
    @apply desktop:text-[1.5rem] font-bold phone:text-[1rem] 
}

.ham-menu{
    @apply h-[2rem] w-[2rem] desktop:hidden
}

.menu-bar{
    @apply h-[100%] w-[100%] 
}

.navbar-item{
    @apply text-[1rem] text-[white] desktop:text-black items-center flex justify-center cursor-pointer flex-col  desktop:text-[1.02rem] desktop:w-[100%] 
}

.navbar-section-links{
    @apply desktop:flex flex-row desktop:justify-between gap-[7rem] phone:hidden 
}

.menu{
    @apply h-[1rem] w-[1rem] desktop:hidden
}





/* .h-carousel-item{
    @apply h-[] w-[]
} */


.active {
  }

  .active-line {
    height: 2px; 
    width: 3rem;
    background-color: #00ffee; /* Set the desired color for the line */
    width: 100%;
    @apply phone:hidden desktop:flex
   
}
.bg-change{
    @apply bg-[black]
}

.phone-menu{
    @apply fixed flex-col  flex  left-[0] top-[0] h-[100vh] w-[100vw] bg-[#2893EA] z-[1000] pt-[3rem] phone:text-[white] desktop:text-[black]
}


.hidden-bug{
    @apply flex desktop:hidden px-[3rem]
}

.but-c{
    @apply w-[100%] flex items-center justify-center  mt-[3rem] desktop:mt-[0rem]
}

.close-bar{
    @apply h-[1.5rem] w-[1.5rem]
}