@tailwind base;
@tailwind components;

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-family: "Quicksand", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  

  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  /* #1d486a  #458cc3   #ffffff00*/

}

:root::-webkit-scrollbar {
  display: none;
  background-color: black
    /* for Chrome, Safari, and Opera */
}






@tailwind utilities;